{
  "openapi": "3.1.0",
  "info": {
    "title": "Job Planning and Management",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.servicetitan.io/jpm/v2",
      "description": "Production"
    },
    {
      "url": "https://api-integration.servicetitan.io/jpm/v2",
      "description": "Integration"
    }
  ],
  "paths": {
    "/tenant/{tenant}/appointments/{id}": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Gets appointment specified by ID",
        "description": "Gets appointment specified by ID",
        "operationId": "Appointments_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The appointment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.V2.AppointmentResponse"
                },
                "example": {
                  "id": 0,
                  "jobId": 0,
                  "appointmentNumber": "string",
                  "start": "string",
                  "end": "string",
                  "arrivalWindowStart": "string",
                  "arrivalWindowEnd": "string",
                  "status": {},
                  "specialInstructions": "string",
                  "createdOn": "string",
                  "modifiedOn": "string",
                  "customerId": 0,
                  "unused": true,
                  "createdById": 0,
                  "isConfirmed": true,
                  "active": true
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "Appointment was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:r"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Appointments"
        ],
        "summary": "Deletes appointment with specified id.",
        "description": "Deletes appointment with specified id.",
        "operationId": "Appointments_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The appointment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded"
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "Appointment was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "409": {
            "description": "Appointment is in the state that doesn't allow deletion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/appointments": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Gets a list of appointments",
        "description": "Gets a list of appointments",
        "operationId": "Appointments_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Perform lookup by multiple IDs (maximum 50)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ActiveRequestArg"
                }
              ]
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "description": "Return all appointments for this job",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Return all appointments for jobs that are part of this project",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "Return all appointments with this appointment number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Return items with specified status AppointmentStatus\\\nValues: [Scheduled, Dispatched, Working, Hold, Done, Canceled]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Jpm.V2.Base.AppointmentStatus"
                }
              ]
            }
          },
          {
            "name": "startsOnOrAfter",
            "in": "query",
            "description": "Return appointments that start on or after the specified date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "startsBefore",
            "in": "query",
            "description": "Return appointments that start before the specified date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "technicianId",
            "in": "query",
            "description": "Return appointments this technician is assigned to",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Return appointments for the specified Customer",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "unused",
            "in": "query",
            "description": "Return appointments that are unused",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return appointments modified before a certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return appointments modified on or after a certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return appointments created on or after a certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return appointments created before a certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Jpm.V2.AppointmentResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "jobId": 0,
                      "appointmentNumber": "string",
                      "start": "string",
                      "end": "string",
                      "arrivalWindowStart": "string",
                      "arrivalWindowEnd": "string",
                      "status": {},
                      "specialInstructions": "string",
                      "createdOn": "string",
                      "modifiedOn": "string",
                      "customerId": 0,
                      "unused": true,
                      "createdById": 0,
                      "isConfirmed": true,
                      "active": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:r"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Adds a new appointment to an existing job",
        "description": "Adds a new appointment to an existing job",
        "operationId": "Appointments_Add",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Jpm.V2.AppointmentAddRequest"
              },
              "example": {
                "jobId": 0,
                "start": "string",
                "end": "string",
                "arrivalWindowStart": "string",
                "arrivalWindowEnd": "string",
                "technicianIds": [
                  0
                ],
                "specialInstructions": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.V2.AppointmentResponse"
                },
                "example": {
                  "id": 0,
                  "jobId": 0,
                  "appointmentNumber": "string",
                  "start": "string",
                  "end": "string",
                  "arrivalWindowStart": "string",
                  "arrivalWindowEnd": "string",
                  "status": {},
                  "specialInstructions": "string",
                  "createdOn": "string",
                  "modifiedOn": "string",
                  "customerId": 0,
                  "unused": true,
                  "createdById": 0,
                  "isConfirmed": true,
                  "active": true
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "409": {
            "description": "Some conflict occurred while executing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/appointments/{id}/reschedule": {
      "patch": {
        "tags": [
          "Appointments"
        ],
        "summary": "Reschedule job appointment",
        "description": "Reschedule job appointment",
        "operationId": "Appointments_Reschedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The appointment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The rescheduling request details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Jpm.V2.AppointmentRescheduleRequest"
              },
              "example": {
                "start": "string",
                "end": "string",
                "arrivalWindowStart": "string",
                "arrivalWindowEnd": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.V2.AppointmentResponse"
                },
                "example": {
                  "id": 0,
                  "jobId": 0,
                  "appointmentNumber": "string",
                  "start": "string",
                  "end": "string",
                  "arrivalWindowStart": "string",
                  "arrivalWindowEnd": "string",
                  "status": {},
                  "specialInstructions": "string",
                  "createdOn": "string",
                  "modifiedOn": "string",
                  "customerId": 0,
                  "unused": true,
                  "createdById": 0,
                  "isConfirmed": true,
                  "active": true
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "Job appointment was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "409": {
            "description": "Some conflict occurred while executing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/appointments/{id}/hold": {
      "put": {
        "tags": [
          "Appointments"
        ],
        "summary": "Puts the appointment on hold",
        "description": "Puts the appointment on hold",
        "operationId": "Appointments_Hold",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The appointment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The hold request details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Jpm.V2.HoldAppointmentRequest"
              },
              "example": {
                "reasonId": 0,
                "memo": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded"
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "The requested entity was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "409": {
            "description": "Some conflict occurred while executing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:w"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Appointments"
        ],
        "summary": "Removes hold from the appointment",
        "description": "Removes hold from the appointment",
        "operationId": "Appointments_RemoveHold",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The appointment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded"
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "Appointment was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "409": {
            "description": "Appointment is not on hold",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/appointments/{id}/special-instructions": {
      "put": {
        "tags": [
          "Appointments"
        ],
        "summary": "Updates special instructions for the specified appointment.",
        "description": "Updates special instructions for the specified appointment.",
        "operationId": "Appointments_UpdateSpecialInstructions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The appointment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The update special instructions request details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Jpm.V2.UpdateAppointmentSpecialInstructionsRequest"
              },
              "example": {
                "specialInstructions": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.V2.AppointmentResponse"
                },
                "example": {
                  "id": 0,
                  "jobId": 0,
                  "appointmentNumber": "string",
                  "start": "string",
                  "end": "string",
                  "arrivalWindowStart": "string",
                  "arrivalWindowEnd": "string",
                  "status": {},
                  "specialInstructions": "string",
                  "createdOn": "string",
                  "modifiedOn": "string",
                  "customerId": 0,
                  "unused": true,
                  "createdById": 0,
                  "isConfirmed": true,
                  "active": true
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "The requested entity was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "409": {
            "description": "Some conflict occurred while executing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/appointments/{id}/confirmation": {
      "put": {
        "tags": [
          "Appointments"
        ],
        "summary": "Adds a confirmation to the specified appointment.",
        "description": "Adds a confirmation to the specified appointment.",
        "operationId": "Appointments_Confirm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The appointment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded"
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "Appointment was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "409": {
            "description": "Appointment is already confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:w"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Appointments"
        ],
        "summary": "Removes a confirmation to the specified appointment.",
        "description": "Removes a confirmation to the specified appointment.",
        "operationId": "Appointments_RemoveConfirmation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The appointment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded"
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "Appointment was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "409": {
            "description": "Appointment was not confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/segments": {
      "get": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_ListCompanySegments",
        "operationId": "BudgetCodes_ListCompanySegments",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.BudgetCodes.ListSegmentsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": 0,
                      "name": "string",
                      "type": "None",
                      "structure": "None",
                      "isActive": true,
                      "isRequired": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.segments:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/projects/{projectId}/segments": {
      "get": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_ListProjectSegments",
        "operationId": "BudgetCodes_ListProjectSegments",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.BudgetCodes.ListSegmentsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": 0,
                      "name": "string",
                      "type": "None",
                      "structure": "None",
                      "isActive": true,
                      "isRequired": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.segments:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/segments/{segmentId}/items": {
      "get": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_ListCompanySegmentItems",
        "operationId": "BudgetCodes_ListCompanySegmentItems",
        "parameters": [
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Jpm.BudgetCodes.SegmentItemModel"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "parentId": 0,
                      "code": "string",
                      "description": "string",
                      "path": "string",
                      "costCategory": {},
                      "isActive": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.segments:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/projects/{projectId}/segments/{segmentId}/items": {
      "get": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_ListProjectSegmentItems",
        "operationId": "BudgetCodes_ListProjectSegmentItems",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Jpm.BudgetCodes.SegmentItemModel"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "parentId": 0,
                      "code": "string",
                      "description": "string",
                      "path": "string",
                      "costCategory": {},
                      "isActive": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.segments:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/segments/{segmentId}/items/{segmentItemId}/children": {
      "get": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_ListCompanySegmentItemChildren",
        "operationId": "BudgetCodes_ListCompanySegmentItemChildren",
        "parameters": [
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "segmentItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Jpm.BudgetCodes.SegmentItemModel"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "parentId": 0,
                      "code": "string",
                      "description": "string",
                      "path": "string",
                      "costCategory": {},
                      "isActive": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.segments:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/projects/{projectId}/segments/{segmentId}/items/{segmentItemId}/children": {
      "get": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_ListProjectSegmentItemChildren",
        "operationId": "BudgetCodes_ListProjectSegmentItemChildren",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "segmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "segmentItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeChildren",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Jpm.BudgetCodes.SegmentItemModel"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "parentId": 0,
                      "code": "string",
                      "description": "string",
                      "path": "string",
                      "costCategory": {},
                      "isActive": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.segments:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/budget-codes": {
      "get": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_ListCompanyBudgetCodes",
        "operationId": "BudgetCodes_ListCompanyBudgetCodes",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "budgetCodeIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segmentIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segmentItemIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Jpm.BudgetCodes.BudgetCodeModel"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "code": "string",
                      "description": "string",
                      "segments": [
                        {
                          "segmentId": 0,
                          "segmentItemId": 0,
                          "code": "string",
                          "description": "string",
                          "path": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.budgetcodes:r"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_CreateBudgetCode",
        "operationId": "BudgetCodes_CreateBudgetCode",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Jpm.V2.CreateFullBudgetCodeArgs"
              },
              "example": {
                "segmentItemIds": [
                  0
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.BudgetCodes.CreateBudgetCodeResponse"
                },
                "example": {
                  "code": {
                    "id": 0,
                    "code": "string",
                    "description": "string",
                    "segments": [
                      {
                        "segmentId": 0,
                        "segmentItemId": 0,
                        "code": "string",
                        "description": "string",
                        "path": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.budgetcodes:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/projects/{projectId}/budget-codes": {
      "get": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_ListProjectBudgetCodes",
        "operationId": "BudgetCodes_ListProjectBudgetCodes",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "budgetCodeIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segmentIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segmentItemIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Jpm.BudgetCodes.BudgetCodeModel"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "code": "string",
                      "description": "string",
                      "segments": [
                        {
                          "segmentId": 0,
                          "segmentItemId": 0,
                          "code": "string",
                          "description": "string",
                          "path": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.budgetcodes:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/budget-codes/match": {
      "get": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_MatchCompanyBudgetCodes",
        "operationId": "BudgetCodes_MatchCompanyBudgetCodes",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.BudgetCodes.MatchBudgetCodesResponse"
                },
                "example": {
                  "matches": [
                    {
                      "code": "string",
                      "isValid": true,
                      "budgetCodes": [
                        {
                          "id": 0,
                          "code": "string",
                          "description": "string",
                          "segments": [
                            {
                              "segmentId": 0,
                              "segmentItemId": 0,
                              "code": "string",
                              "description": "string",
                              "path": "string"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.budgetcodes:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/projects/{projectId}/budget-codes/match": {
      "get": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_MatchProjectBudgetCodes",
        "operationId": "BudgetCodes_MatchProjectBudgetCodes",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "codes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.BudgetCodes.MatchBudgetCodesResponse"
                },
                "example": {
                  "matches": [
                    {
                      "code": "string",
                      "isValid": true,
                      "budgetCodes": [
                        {
                          "id": 0,
                          "code": "string",
                          "description": "string",
                          "segments": [
                            {
                              "segmentId": 0,
                              "segmentItemId": 0,
                              "code": "string",
                              "description": "string",
                              "path": "string"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.budgetcodes:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/budget-codes/partial": {
      "post": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_CreateBudgetCodePartial",
        "operationId": "BudgetCodes_CreateBudgetCodePartial",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Jpm.V2.CreatePartialBudgetCodeArgs"
              },
              "example": {
                "segments": [
                  {
                    "segmentId": 0,
                    "segmentItemId": 0
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.BudgetCodes.CreateBudgetCodeResponse"
                },
                "example": {
                  "code": {
                    "id": 0,
                    "code": "string",
                    "description": "string",
                    "segments": [
                      {
                        "segmentId": 0,
                        "segmentItemId": 0,
                        "code": "string",
                        "description": "string",
                        "path": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.budgetcodes:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/budget-codes/batch": {
      "post": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_CreateBudgetCodesBatch",
        "operationId": "BudgetCodes_CreateBudgetCodesBatch",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.BudgetCodes.CreateBudgetCodeBatchResponse"
                },
                "example": {
                  "codes": [
                    {
                      "id": 0,
                      "code": "string",
                      "description": "string",
                      "segments": [
                        {
                          "segmentId": 0,
                          "segmentItemId": 0,
                          "code": "string",
                          "description": "string",
                          "path": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.budgetcodes:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/work-breakdown-structure/budget-codes/partial/batch": {
      "post": {
        "tags": [
          "BudgetCodes"
        ],
        "summary": "BudgetCodes_CreateBudgetCodesPartialBatch",
        "operationId": "BudgetCodes_CreateBudgetCodesPartialBatch",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jpm.BudgetCodes.CreateBudgetCodeBatchResponse"
                },
                "example": {
                  "codes": [
                    {
                      "id": 0,
                      "code": "string",
                      "description": "string",
                      "segments": [
                        {
                          "segmentId": 0,
                          "segmentItemId": 0,
                          "code": "string",
                          "description": "string",
                          "path": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.budgetcodes:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/export/jobs": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Provides export feed for jobs",
        "description": "Provides export feed for jobs",
        "operationId": "Export_Jobs",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRecentChanges",
            "in": "query",
            "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResponse_Of_Jpm.V2.ExportJobsResponse"
                },
                "example": {
                  "hasMore": true,
                  "continueFrom": "string",
                  "data": [
                    {
                      "summary": "string",
                      "customFields": [
                        {
                          "typeId": 0,
                          "name": "string",
                          "value": "string"
                        }
                      ],
                      "externalData": [
                        {
                          "key": "string",
                          "value": "string"
                        }
                      ],
                      "id": 0,
                      "jobNumber": "string",
                      "projectId": 0,
                      "customerId": 0,
                      "locationId": 0,
                      "jobStatus": "string",
                      "completedOn": "string",
                      "businessUnitId": 0,
                      "jobTypeId": 0,
                      "priority": "string",
                      "campaignId": 0,
                      "appointmentCount": 0,
                      "firstAppointmentId": 0,
                      "lastAppointmentId": 0,
                      "recallForId": 0,
                      "warrantyId": 0,
                      "jobGeneratedLeadSource": {
                        "jobId": 0,
                        "employeeId": 0
                      },
                      "noCharge": true,
                      "notificationsEnabled": true,
                      "createdOn": "string",
                      "createdById": 0,
                      "modifiedOn": "string",
                      "tagTypeIds": [
                        0
                      ],
                      "leadCallId": 0,
                      "partnerLeadCallId": 0,
                      "bookingId": 0,
                      "soldById": 0,
                      "customerPo": "string",
                      "invoiceId": 0,
                      "membershipId": 0,
                      "total": 0,
                      "createdFromEstimateId": 0,
                      "estimateIds": [
                        0
                      ],
                      "isAutoDispatched": true,
                      "active": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.jobs:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/export/projects": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Provides export feed for projects",
        "description": "Provides export feed for projects",
        "operationId": "Export_Projects",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRecentChanges",
            "in": "query",
            "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResponse_Of_Jpm.V2.ExportProjectsResponse"
                },
                "example": {
                  "hasMore": true,
                  "continueFrom": "string",
                  "data": [
                    {
                      "id": 0,
                      "number": "string",
                      "name": "string",
                      "summary": "string",
                      "status": "string",
                      "statusId": 0,
                      "subStatus": "string",
                      "subStatusId": 0,
                      "customerId": 0,
                      "locationId": 0,
                      "projectTypeId": 0,
                      "projectManagerIds": [
                        0
                      ],
                      "businessUnitIds": [
                        0
                      ],
                      "startDate": "string",
                      "targetCompletionDate": "string",
                      "actualCompletionDate": "string",
                      "modifiedOn": "string",
                      "createdOn": "string",
                      "customFields": [
                        {
                          "typeId": 0,
                          "name": "string",
                          "value": "string"
                        }
                      ],
                      "externalData": [
                        {
                          "key": "string",
                          "value": "string"
                        }
                      ],
                      "jobIds": [
                        0
                      ],
                      "active": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.projects:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/export/appointments": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Provides export feed for appointments",
        "description": "Provides export feed for appointments",
        "operationId": "Export_Appointments",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "What kind of items should be returned (all items will be returned by default)\\\nValues: [True, Any, False]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ActiveRequestArg"
                }
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRecentChanges",
            "in": "query",
            "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResponse_Of_Jpm.V2.ExportAppointmentsResponse"
                },
                "example": {
                  "hasMore": true,
                  "continueFrom": "string",
                  "data": [
                    {
                      "id": 0,
                      "jobId": 0,
                      "appointmentNumber": "string",
                      "start": "string",
                      "end": "string",
                      "arrivalWindowStart": "string",
                      "arrivalWindowEnd": "string",
                      "status": {},
                      "specialInstructions": "string",
                      "createdOn": "string",
                      "modifiedOn": "string",
                      "customerId": 0,
                      "unused": true,
                      "createdById": 0,
                      "isConfirmed": true,
                      "active": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.appointments:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/export/job-canceled-logs": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Provides export feed for job canceled logs",
        "description": "Provides export feed for job canceled logs",
        "operationId": "Export_JobCancelReasons",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRecentChanges",
            "in": "query",
            "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResponse_Of_Jpm.V2.ExportJobCanceledLogResponse"
                },
                "example": {
                  "hasMore": true,
                  "continueFrom": "string",
                  "data": [
                    {
                      "id": 0,
                      "jobId": 0,
                      "reasonId": 0,
                      "memo": "string",
                      "createdOn": "string",
                      "createdById": 0,
                      "active": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.jobcanceledlogs:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/export/job-notes": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Provides export feed for job notes",
        "description": "Provides export feed for job notes",
        "operationId": "Export_JobNotes",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRecentChanges",
            "in": "query",
            "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResponse_Of_Jpm.V2.ExportJobNotesResponse"
                },
                "example": {
                  "hasMore": true,
                  "continueFrom": "string",
                  "data": [
                    {
                      "id": 0,
                      "active": true,
                      "text": "string",
                      "isPinned": true,
                      "createdById": 0,
                      "createdOn": "string",
                      "modifiedOn": "string",
                      "jobId": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.jpm.jobnotes:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/export/project-notes": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Provides export feed for project notes",
        "description": "Provides export feed for project notes",
        "operationId": "Export_ProjectNotes",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRecentChanges",
            "in": "query",
            "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResponse_Of_Jpm.V2.ExportProjectNotesResponse"
                },
                "example": {
                  "hasMore": true,
                  "continueFrom": "string",
                  "data": [
                    {
                      "id": 0,
                      "active": true,
                      "text": "string",
                      "isPinned": true,
[...]
