{
  "openapi": "3.1.0",
  "info": {
    "title": "Dispatch",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.servicetitan.io/dispatch/v2",
      "description": "Production"
    },
    {
      "url": "https://api-integration.servicetitan.io/dispatch/v2",
      "description": "Integration"
    }
  ],
  "paths": {
    "/tenant/{tenant}/gps-provider/{gps_provider}/gps-pings": {
      "post": {
        "tags": [
          "Gps"
        ],
        "summary": "Creates new gps ping.",
        "description": "Creates new gps ping.",
        "operationId": "Gps_Create",
        "parameters": [
          {
            "name": "gps_provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Dispatch.V2.GpsPingCreateRequest"
                }
              },
              "example": [
                {
                  "unitId": "string",
                  "unitName": "string",
                  "eventTime": "string",
                  "latitude": 0,
                  "longitude": 0,
                  "speed": 0,
                  "street": "string",
                  "city": "string",
                  "region": "string",
                  "postalCode": "string",
                  "message": "string",
                  "externalId": "string",
                  "isNew": true,
                  "statusMessage": "string"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dispatch.V2.GpsPingResponse"
                  }
                },
                "example": [
                  {
                    "externalId": "string",
                    "status": {},
                    "message": "string"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.gpspings:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/appointment-assignments": {
      "get": {
        "tags": [
          "AppointmentAssignments"
        ],
        "summary": "Gets a list of appointment assignments",
        "description": "Gets a list of appointment assignments",
        "operationId": "AppointmentAssignments_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Perform lookup by multiple IDs (maximum 50)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appointmentIds",
            "in": "query",
            "description": "Return appointment assignments for one or more appointments",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "description": "Return appointment assignments for a single job",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, CreatedOn, ModifiedOn.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ActiveRequestArg"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Dispatch.V2.AppointmentAssignmentResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "technicianId": 0,
                      "technicianName": "string",
                      "assignedById": 0,
                      "assignedOn": "string",
                      "status": {},
                      "isPaused": true,
                      "jobId": 0,
                      "appointmentId": 0,
                      "createdOn": "string",
                      "modifiedOn": "string",
                      "active": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.appointmentassignments:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/appointment-assignments/assign-technicians": {
      "post": {
        "tags": [
          "AppointmentAssignments"
        ],
        "summary": "Assigns the list of technicians to the appointment",
        "description": "Assigns the list of technicians to the appointment",
        "operationId": "AppointmentAssignments_AssignTechnicians",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.AssignTechniciansRequest"
              },
              "example": {
                "jobAppointmentId": 0,
                "technicianIds": [
                  0
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.AppointmentResponse"
                },
                "example": {
                  "id": 0,
                  "jobId": 0,
                  "appointmentNumber": "string",
                  "start": "string",
                  "end": "string",
                  "arrivalWindowStart": "string",
                  "arrivalWindowEnd": "string",
                  "status": {},
                  "specialInstructions": "string",
                  "createdOn": "string",
                  "modifiedOn": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "409": {
            "description": "Some conflict occurred while executing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.appointmentassignments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/appointment-assignments/unassign-technicians": {
      "post": {
        "tags": [
          "AppointmentAssignments"
        ],
        "summary": "Unassigns the list of technicians from the appointment",
        "description": "Unassigns the list of technicians from the appointment",
        "operationId": "AppointmentAssignments_UnassignTechnicians",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.UnassignTechniciansRequest"
              },
              "example": {
                "jobAppointmentId": 0,
                "technicianIds": [
                  0
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.AppointmentResponse"
                },
                "example": {
                  "id": 0,
                  "jobId": 0,
                  "appointmentNumber": "string",
                  "start": "string",
                  "end": "string",
                  "arrivalWindowStart": "string",
                  "arrivalWindowEnd": "string",
                  "status": {},
                  "specialInstructions": "string",
                  "createdOn": "string",
                  "modifiedOn": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.appointmentassignments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/arrival-windows": {
      "get": {
        "tags": [
          "ArrivalWindows"
        ],
        "summary": "ArrivalWindows_GetList",
        "operationId": "ArrivalWindows_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ActiveRequestArg"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Dispatch.V2.ArrivalWindowResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "start": "string",
                      "duration": "string",
                      "businessUnitIds": [
                        0
                      ],
                      "active": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.arrivalwindows:r"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "ArrivalWindows"
        ],
        "summary": "ArrivalWindows_Create",
        "operationId": "ArrivalWindows_Create",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.CreateArrivalWindowRequest"
              },
              "example": {
                "start": "string",
                "duration": "string",
                "businessUnitIds": [
                  0
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.ArrivalWindowResponse"
                },
                "example": {
                  "id": 0,
                  "start": "string",
                  "duration": "string",
                  "businessUnitIds": [
                    0
                  ],
                  "active": true
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.arrivalwindows:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/arrival-windows/{id}": {
      "get": {
        "tags": [
          "ArrivalWindows"
        ],
        "summary": "ArrivalWindows_Get",
        "operationId": "ArrivalWindows_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.ArrivalWindowResponse"
                },
                "example": {
                  "id": 0,
                  "start": "string",
                  "duration": "string",
                  "businessUnitIds": [
                    0
                  ],
                  "active": true
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "The requested entity was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.arrivalwindows:r"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "ArrivalWindows"
        ],
        "summary": "ArrivalWindows_Update",
        "operationId": "ArrivalWindows_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.UpdateArrivalWindowRequest"
              },
              "example": {
                "start": "string",
                "duration": "string",
                "businessUnitIds": [
                  0
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.ArrivalWindowResponse"
                },
                "example": {
                  "id": 0,
                  "start": "string",
                  "duration": "string",
                  "businessUnitIds": [
                    0
                  ],
                  "active": true
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.arrivalwindows:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/arrival-windows/{id}/activated": {
      "put": {
        "tags": [
          "ArrivalWindows"
        ],
        "summary": "ArrivalWindows_Activated",
        "operationId": "ArrivalWindows_Activated",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.SetArrivalWindowStatusRequest"
              },
              "example": {
                "isActive": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded"
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "The requested entity was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.arrivalwindows:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/arrival-windows/configuration": {
      "get": {
        "tags": [
          "ArrivalWindows"
        ],
        "summary": "ArrivalWindows_GetConfiguration",
        "operationId": "ArrivalWindows_GetConfiguration",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.ArrivalWindowConfigurationResponse"
                },
                "example": {
                  "configuration": "StartTimeOfArrivalWindow"
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.arrivalwindows:r"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "ArrivalWindows"
        ],
        "summary": "ArrivalWindows_UpdatedConfiguration",
        "operationId": "ArrivalWindows_UpdatedConfiguration",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.UpdateArrivalWindowConfigurationRequest"
              },
              "example": {
                "configuration": "StartTimeOfArrivalWindow"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.ArrivalWindowConfigurationResponse"
                },
                "example": {
                  "configuration": "StartTimeOfArrivalWindow"
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.arrivalwindows:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/business-hours": {
      "get": {
        "tags": [
          "BusinessHour"
        ],
        "summary": "Gets the business hours.",
        "description": "Gets the business hours.",
        "operationId": "BusinessHour_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list with the business hours",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.BusinessHourModel"
                },
                "example": {
                  "weekdays": [
                    {
                      "fromHour": 0,
                      "toHour": 0
                    }
                  ],
                  "saturday": [
                    {
                      "fromHour": 0,
                      "toHour": 0
                    }
                  ],
                  "sunday": [
                    {
                      "fromHour": 0,
                      "toHour": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.businesshours:r"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "BusinessHour"
        ],
        "summary": "BusinessHour_Create",
        "operationId": "BusinessHour_Create",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.CreateBusinessHourRequest"
              },
              "example": {
                "weekdays": [
                  {
                    "fromHour": 0,
                    "toHour": 0
                  }
                ],
                "saturday": [
                  {
                    "fromHour": 0,
                    "toHour": 0
                  }
                ],
                "sunday": [
                  {
                    "fromHour": 0,
                    "toHour": 0
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.CreateBusinessHourResponse"
                },
                "example": {
                  "weekdays": [
                    {
                      "fromHour": 0,
                      "toHour": 0
                    }
                  ],
                  "saturday": [
                    {
                      "fromHour": 0,
                      "toHour": 0
                    }
                  ],
                  "sunday": [
                    {
                      "fromHour": 0,
                      "toHour": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.businesshours:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/capacity": {
      "post": {
        "tags": [
          "Capacity"
        ],
        "summary": "Capacity_GetList",
        "operationId": "Capacity_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.CapacityRequestArgs"
              },
              "example": {
                "startsOnOrAfter": "string",
                "endsOnOrBefore": "string",
                "businessUnitIds": [
                  0
                ],
                "jobTypeId": 0,
                "skillBasedAvailability": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.CapacityResponse"
                },
                "example": {
                  "timeStamp": "string",
                  "availabilities": [
                    {
                      "start": "string",
                      "end": "string",
                      "startUtc": "string",
                      "endUtc": "string",
                      "businessUnitIds": [
                        0
                      ],
                      "totalAvailability": 0,
                      "openAvailability": 0,
                      "technicians": [
                        {
                          "id": 0,
                          "name": "string",
                          "status": {},
                          "hasRequiredSkills": true
                        }
                      ],
                      "isAvailable": true,
                      "isExceedingIdealBookingPercentage": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.capacity:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/export/appointment-assignments": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Provides export feed for appointment assignments",
        "description": "Provides export feed for appointment assignments",
        "operationId": "Export_AppointmentAssignments",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ActiveRequestArg"
                }
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRecentChanges",
            "in": "query",
            "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportResponse_Of_Dispatch.V2.ExportAppointmentAssignmentsResponse"
                },
                "example": {
                  "hasMore": true,
                  "continueFrom": "string",
                  "data": [
                    {
                      "id": 0,
                      "technicianId": 0,
                      "technicianName": "string",
                      "assignedById": 0,
                      "assignedOn": "string",
                      "status": {},
                      "isPaused": true,
                      "jobId": 0,
                      "appointmentId": 0,
                      "createdOn": "string",
                      "modifiedOn": "string",
                      "active": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.appointmentassignments:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/non-job-appointments/{id}": {
      "get": {
        "tags": [
          "NonJobAppointments"
        ],
        "summary": "NonJobAppointments_Get",
        "operationId": "NonJobAppointments_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.GetNonJobAppointmentResponse"
                },
                "example": {
                  "id": 0,
                  "technicianId": 0,
                  "start": "string",
                  "name": "string",
                  "duration": "string",
                  "timesheetCodeId": 0,
                  "summary": "string",
                  "clearDispatchBoard": true,
                  "clearTechnicianView": true,
                  "removeTechnicianFromCapacityPlanning": true,
                  "allDay": true,
                  "showOnTechnicianSchedule": true,
                  "active": true,
                  "createdOn": "string",
                  "createdById": 0
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.nonjobappointments:r"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "NonJobAppointments"
        ],
        "summary": "Update an existing non-job appointment",
        "description": "Update an existing non-job appointment",
        "operationId": "NonJobAppointments_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.NonJobAppointmentUpdateRequest"
              },
              "example": {
                "technicianId": 0,
                "start": "string",
                "duration": "string",
                "name": "string",
                "timesheetCodeId": 0,
                "summary": "string",
                "clearDispatchBoard": true,
                "clearTechnicianView": true,
                "showOnTechnicianSchedule": true,
                "removeTechnicianFromCapacityPlanning": true,
                "allDay": true,
                "repeat": true,
                "countOccurrences": 0,
                "interval": 0,
                "frequency": {},
                "endType": {},
                "endOn": "string",
                "daysOfWeek": "Monday, Wednesday, Friday"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.GetNonJobAppointmentResponse"
                },
                "example": {
                  "id": 0,
                  "technicianId": 0,
                  "start": "string",
                  "name": "string",
                  "duration": "string",
                  "timesheetCodeId": 0,
                  "summary": "string",
                  "clearDispatchBoard": true,
                  "clearTechnicianView": true,
                  "removeTechnicianFromCapacityPlanning": true,
                  "allDay": true,
                  "showOnTechnicianSchedule": true,
                  "active": true,
                  "createdOn": "string",
                  "createdById": 0
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "409": {
            "description": "Some conflict occurred while executing the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.nonjobappointments:w"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "NonJobAppointments"
        ],
        "summary": "Delete non-job appointment",
        "description": "Delete non-job appointment",
        "operationId": "NonJobAppointments_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.Contracts.NonJobAppointment.DeleteNonJobAppointmentResult"
                },
                "example": {
                  "message": "string",
                  "id": 0
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "The requested entity was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.nonjobappointments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/non-job-appointments": {
      "get": {
        "tags": [
          "NonJobAppointments"
        ],
        "summary": "Gets a list of non-job appointments",
        "description": "Gets a list of non-job appointments",
        "operationId": "NonJobAppointments_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "technicianId",
            "in": "query",
            "description": "Unique id of the technician this non-job appointment applies to",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "startsOnOrAfter",
            "in": "query",
            "description": "When the Start of non-job appointment should be at or after",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "startsOnOrBefore",
            "in": "query",
            "description": "When the Start of non-job appointment should be at or before",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timesheetCodeId",
            "in": "query",
            "description": "Unique Id of timesheet code must apply to",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "activeOnly",
            "in": "query",
            "description": "Whether the result should contains only active non-job appointments",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showOnTechnicianSchedule",
            "in": "query",
            "description": "Whether the non-job appointment shows on the technicians schedule even if there is no timesheet",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Perform lookup by multiple IDs (maximum 50)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, CreatedOn, ModifiedOn.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Dispatch.V2.NonJobAppointmentResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "technicianId": 0,
                      "start": "string",
                      "name": "string",
                      "duration": "string",
                      "timesheetCodeId": 0,
                      "summary": "string",
                      "clearDispatchBoard": true,
                      "clearTechnicianView": true,
                      "removeTechnicianFromCapacityPlanning": true,
                      "allDay": true,
                      "showOnTechnicianSchedule": true,
                      "active": true,
                      "createdOn": "string",
                      "modifiedOn": "string",
                      "createdById": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.nonjobappointments:r"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "NonJobAppointments"
        ],
        "summary": "Create a new non-job appointment",
        "description": "Create a new non-job appointment",
        "operationId": "NonJobAppointments_Create",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.CreateNonJobAppointmentRequest"
              },
              "example": {
                "technicianId": 0,
                "start": "string",
                "duration": "string",
                "name": "string",
                "timesheetCodeId": 0,
                "summary": "string",
                "clearDispatchBoard": true,
                "clearTechnicianView": true,
                "showOnTechnicianSchedule": true,
                "removeTechnicianFromCapacityPlanning": true,
                "allDay": true,
                "repeat": true,
                "countOccurrences": 0,
                "interval": 0,
                "frequency": {},
                "endType": {},
                "endOn": "string",
                "daysOfWeek": "Monday, Wednesday, Friday"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.Contracts.NonJobAppointment.CreateNonJobAppointmentResult"
                },
                "example": {
                  "id": 0,
                  "technicianId": 0,
                  "start": "string",
                  "name": "string",
                  "duration": "string",
                  "timesheetCodeId": 0,
                  "summary": "string",
                  "clearDispatchBoard": true,
                  "clearTechnicianView": true,
                  "removeTechnicianFromCapacityPlanning": true,
                  "allDay": true,
                  "showOnTechnicianSchedule": true,
                  "active": true,
                  "createdOn": "string",
                  "createdById": 0,
                  "repeat": true,
                  "countOccurrences": 0,
                  "interval": 0,
                  "frequency": {},
                  "endType": {},
                  "endOn": "string",
                  "daysOfWeek": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.nonjobappointments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/teams": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "Gets a list of teams",
        "description": "Gets a list of teams",
        "operationId": "Team_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Whether to include inactive teams",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, CreatedOn, ModifiedOn.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Dispatch.V2.TeamResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "active": true,
                      "name": "string",
                      "createdBy": 0,
                      "createdOn": "string",
                      "modifiedOn": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.teams:r"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Team"
        ],
        "summary": "Creates new team",
        "description": "Creates new team",
        "operationId": "Team_Create",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.CreateTeamRequest"
              },
              "example": {
                "active": true,
                "name": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.CreateTeamResponse"
                },
                "example": {
                  "id": 0,
                  "active": true,
                  "name": "string",
                  "createdBy": 0,
                  "createdOn": "string",
                  "modifiedOn": "string",
                  "created": true
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.teams:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/teams/{id}": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "Gets a specific team",
        "description": "Gets a specific team",
        "operationId": "Team_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.TeamResponse"
                },
                "example": {
                  "id": 0,
                  "active": true,
                  "name": "string",
                  "createdBy": 0,
                  "createdOn": "string",
                  "modifiedOn": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "The requested entity was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.teams:r"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Team"
        ],
        "summary": "Delete team",
        "description": "Delete team",
        "operationId": "Team_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded"
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "The requested entity was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.teams:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/technician-shifts": {
      "get": {
        "tags": [
          "TechnicianShifts"
        ],
        "summary": "Gets a list of technician shifts",
        "description": "Gets a list of technician shifts",
        "operationId": "TechnicianShifts_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "startsOnOrAfter",
            "in": "query",
            "description": "When the Start of shift should be at or after",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endsOnOrBefore",
            "in": "query",
            "description": "When the End of shift should be at or before",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "shiftType",
            "in": "query",
            "description": "Value to match ShiftType to\\\nValues: [Normal, OnCall, TimeOff]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Dispatch.V2.ShiftType"
                }
              ]
            }
          },
          {
            "name": "technicianId",
            "in": "query",
            "description": "Unique Id of technician shift must apply to",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "titleContains",
            "in": "query",
            "description": "Text that must appear in the Title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noteContains",
            "in": "query",
            "description": "Text that must appear in the Note",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ActiveRequestArg"
                }
              ]
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, CreatedOn, ModifiedOn.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Dispatch.V2.TechnicianShiftResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "shiftType": {},
                      "title": "string",
                      "note": "string",
                      "active": true,
                      "technicianId": 0,
                      "start": "string",
                      "end": "string",
                      "timesheetCodeId": 0,
                      "createdOn": "string",
                      "modifiedOn": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.technicianshifts:r"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "TechnicianShifts"
        ],
        "summary": "Creates new Technician Shift",
        "description": "Creates new Technician Shift",
        "operationId": "TechnicianShifts_Create",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.CreateTechnicianShiftRequest"
              },
              "example": {
                "technicianIds": [
                  0
                ],
                "shiftType": "Normal",
                "title": "string",
                "start": "string",
                "end": "string",
                "note": "string",
                "timesheetCodeId": 0,
                "repeatType": "Weekly",
                "repeatEndDate": "string",
                "repeatInterval": 0,
                "shiftDays": "Monday, Wednesday, Friday"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.TechnicianShiftCreateResponse"
                },
                "example": {
                  "created": true,
                  "technicianShifts": [
                    {
                      "id": 0,
                      "shiftType": {},
                      "title": "string",
                      "note": "string",
                      "active": true,
                      "technicianId": 0,
                      "start": "string",
                      "end": "string",
                      "timesheetCodeId": 0,
                      "createdOn": "string",
                      "modifiedOn": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.technicianshifts:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/technician-shifts/{id}": {
      "get": {
        "tags": [
          "TechnicianShifts"
        ],
        "summary": "Gets a specific technician shift",
        "description": "Gets a specific technician shift",
        "operationId": "TechnicianShifts_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.TechnicianShiftResponse"
                },
                "example": {
                  "id": 0,
                  "shiftType": {},
                  "title": "string",
                  "note": "string",
                  "active": true,
                  "technicianId": 0,
                  "start": "string",
                  "end": "string",
                  "timesheetCodeId": 0,
                  "createdOn": "string",
                  "modifiedOn": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "The requested entity was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.technicianshifts:r"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "TechnicianShifts"
        ],
        "summary": "Updates Technician Shift",
        "description": "Updates Technician Shift",
        "operationId": "TechnicianShifts_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.UpdateTechnicianShiftRequest"
              },
              "example": {
                "shiftType": "Normal",
                "title": "string",
                "start": "string",
                "end": "string",
                "note": "string",
                "timesheetCodeId": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.V2.TechnicianShiftUpdateResponse"
                },
                "example": {
                  "technicianShifts": [
                    {
                      "id": 0,
                      "shiftType": {},
                      "title": "string",
                      "note": "string",
                      "active": true,
                      "technicianId": 0,
                      "start": "string",
                      "end": "string",
                      "timesheetCodeId": 0,
                      "createdOn": "string",
                      "modifiedOn": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "The requested entity was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.technicianshifts:w"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "TechnicianShifts"
        ],
        "summary": "Deletes the specified technician shift",
        "description": "Deletes the specified technician shift",
        "operationId": "TechnicianShifts_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The technician shift Id to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.Contracts.TechnicianShift.DeleteTechnicianShiftResult"
                },
                "example": {
                  "message": "string",
                  "id": 0
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "The requested entity was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.technicianshifts:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/technician-shifts/bulk-delete": {
      "post": {
        "tags": [
          "TechnicianShifts"
        ],
        "summary": "Deletes the technician shifts specified by the criteria",
        "description": "Deletes the technician shifts specified by the criteria",
        "operationId": "TechnicianShifts_BulkDelete",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The criteria to delete",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dispatch.V2.BulkDeleteTechnicianShiftRequest"
              },
              "example": {
                "start": "string",
                "end": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list with the deleted technician shift Ids",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch.Contracts.TechnicianShift.BulkDeleteTechnicianShiftResult"
                },
                "example": {
                  "message": "string",
                  "deletedIds": [
                    0
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.dis.technicianshifts:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/technician-skills": {
      "get": {
        "tags": [
          "TechnicianSkills"
        ],
        "summary": "Gets a list of technician skills",
        "description": "Gets a list of technician skills",
        "operationId": "TechnicianSkills_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "technicianId",
            "in": "query",
            "description": "Gets or sets the unique Id of the technician the skill must apply to.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ActiveRequestArg"
                }
              ]
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
[...]
