{
  "openapi": "3.1.0",
  "info": {
    "title": "Accounting",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.servicetitan.io/accounting/v2",
      "description": "Production"
    },
    {
      "url": "https://api-integration.servicetitan.io/accounting/v2",
      "description": "Integration"
    }
  ],
  "paths": {
    "/tenant/{tenant}/ap-bills": {
      "get": {
        "tags": [
          "ApBills"
        ],
        "summary": "Returns a paginated list of AP bills with detailed item information, filtering capabilities, and associated metadata",
        "description": "Returns a paginated list of AP bills with detailed item information, filtering capabilities, and associated metadata",
        "operationId": "ApBills_GetListPaginated",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of specific AP bill IDs to retrieve",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batchId",
            "in": "query",
            "description": "Filter by specific batch ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "batchNumber",
            "in": "query",
            "description": "Filter by batch number",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "billNumber",
            "in": "query",
            "description": "Filter by bill number (partial match supported)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnitIds",
            "in": "query",
            "description": "Comma-separated list of business unit IDs to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customField.Fields",
            "in": "query",
            "description": "Dictionary of name-value pairs",
            "schema": {
              "maxProperties": 50,
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "customField.Operator",
            "in": "query",
            "description": "Operator to be used between the name-value pairs. Can be \"Or\" or \"And\", default is \"And\".\\\nValues: [And, Or]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Accounting.V2.LogicalOperator"
                }
              ]
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Filter bills created on or after this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Filter bills created on or before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "jobNumber",
            "in": "query",
            "description": "Filter by job number (partial match supported)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purchaseOrderNumber",
            "in": "query",
            "description": "Filter by purchase order number (partial match supported)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purchaseOrderTypes",
            "in": "query",
            "description": "Comma-separated list of purchase order types to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "syncStatuses",
            "in": "query",
            "description": "Filter by sync status values",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Accounting.V2.ApBillSyncStatus"
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Filter by bill status values",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Accounting.V2.ApBillStatus"
              }
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "Filter by bill source values",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Accounting.V2.ApBillSource"
              }
            }
          },
          {
            "name": "minCost",
            "in": "query",
            "description": "Filter bills with cost greater than or equal to this amount",
            "schema": {
              "type": "number",
              "format": "decimal"
            }
          },
          {
            "name": "maxCost",
            "in": "query",
            "description": "Filter bills with cost less than or equal to this amount",
            "schema": {
              "type": "number",
              "format": "decimal"
            }
          },
          {
            "name": "billType",
            "in": "query",
            "description": "Filter by bill type (defaults to Procurement)\\\nValues: [NotSet, Procurement, ApBill]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Accounting.V2.ApBillType"
                }
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the paginated list of AP bills",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.ApBillResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "purchaseOrderId": 0,
                      "syncStatus": "string",
                      "status": "string",
                      "source": "string",
                      "billType": "string",
                      "postDate": "string",
                      "referenceNumber": "string",
                      "vendorNumber": "string",
                      "summary": "string",
                      "billDate": "string",
                      "earlyDiscountDate": "string",
                      "billAmount": "string",
                      "vendorInvoiceTotal": "string",
                      "taxAmount": "string",
                      "shippingAmount": "string",
                      "createdBy": "string",
                      "createdOn": "string",
                      "modifiedOn": "string",
                      "termName": "string",
                      "dueDate": "string",
                      "doNotPay": true,
                      "dateCanceled": "string",
                      "canceledBy": {
                        "id": 0,
                        "name": "string"
                      },
                      "shipToDescription": "string",
                      "batch": {
                        "id": 0,
                        "number": "string",
                        "name": "string"
                      },
                      "businessUnit": {
                        "id": 0,
                        "name": "string"
                      },
                      "taxZone": {
                        "id": 0,
                        "name": "string"
                      },
                      "vendor": {
                        "id": 0,
                        "name": "string"
                      },
                      "remittanceVendorInfo": {
                        "id": 0,
                        "name": "string"
                      },
                      "shipTo": {
                        "street": "string",
                        "unit": "string",
                        "city": "string",
                        "state": "string",
                        "zip": "string",
                        "country": "string"
                      },
                      "budgetCodeId": 0,
                      "items": [
                        {
                          "order": 0,
                          "name": "string",
                          "description": "string",
                          "quantity": "string",
                          "cost": "string",
                          "inventoryLocation": {
                            "id": 0,
                            "name": "string",
                            "type": "string"
                          },
                          "vendorPartNumber": "string",
                          "serialNumber": "string",
                          "generalLedgerAccount": {
                            "id": 0,
                            "name": "string",
                            "number": "string",
                            "type": "string",
                            "detailType": "string"
                          },
                          "costOfSaleAccount": {
                            "id": 0,
                            "name": "string",
                            "number": "string",
                            "type": "string",
                            "detailType": "string"
                          },
                          "assetAccount": {
                            "id": 0,
                            "name": "string",
                            "number": "string",
                            "type": "string",
                            "detailType": "string"
                          },
                          "id": 0,
                          "skuId": 0,
                          "receiptItemId": 0,
                          "skuType": "string",
                          "skuCode": "string",
                          "budgetCodeId": 0
                        }
                      ],
                      "expenseItems": [
                        {
                          "id": 0,
                          "amount": "string",
                          "description": "string",
                          "generalLedgerAccount": {
                            "id": 0,
                            "name": "string",
                            "number": "string",
                            "type": "string",
                            "detailType": "string"
                          },
                          "job": {
                            "id": 0,
                            "name": "string"
                          },
                          "businessUnit": {
                            "id": 0,
                            "name": "string"
                          },
                          "budgetCodeId": 0,
                          "projectLabelIds": [
                            0
                          ]
                        }
                      ],
                      "customFields": [
                        {
                          "name": "string",
                          "value": "string"
                        }
                      ],
                      "jobId": 0,
                      "jobNumber": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.apbills:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/ap-bills/{billId}": {
      "get": {
        "tags": [
          "ApBills"
        ],
        "summary": "Returns a single AP bill by its unique identifier with complete details including items, expense items, and associated metadata",
        "description": "Returns a single AP bill by its unique identifier with complete details including items, expense items, and associated metadata",
        "operationId": "ApBills_GetById",
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "description": "The unique identifier of the AP bill to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the AP bill",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Accounting.V2.ApBillResponse"
                },
                "example": {
                  "id": 0,
                  "purchaseOrderId": 0,
                  "syncStatus": "string",
                  "status": "string",
                  "source": "string",
                  "billType": "string",
                  "postDate": "string",
                  "referenceNumber": "string",
                  "vendorNumber": "string",
                  "summary": "string",
                  "billDate": "string",
                  "earlyDiscountDate": "string",
                  "billAmount": "string",
                  "vendorInvoiceTotal": "string",
                  "taxAmount": "string",
                  "shippingAmount": "string",
                  "createdBy": "string",
                  "createdOn": "string",
                  "modifiedOn": "string",
                  "termName": "string",
                  "dueDate": "string",
                  "doNotPay": true,
                  "dateCanceled": "string",
                  "canceledBy": {
                    "id": 0,
                    "name": "string"
                  },
                  "shipToDescription": "string",
                  "batch": {
                    "id": 0,
                    "number": "string",
                    "name": "string"
                  },
                  "businessUnit": {
                    "id": 0,
                    "name": "string"
                  },
                  "taxZone": {
                    "id": 0,
                    "name": "string"
                  },
                  "vendor": {
                    "id": 0,
                    "name": "string"
                  },
                  "remittanceVendorInfo": {
                    "id": 0,
                    "name": "string"
                  },
                  "shipTo": {
                    "street": "string",
                    "unit": "string",
                    "city": "string",
                    "state": "string",
                    "zip": "string",
                    "country": "string"
                  },
                  "budgetCodeId": 0,
                  "items": [
                    {
                      "order": 0,
                      "name": "string",
                      "description": "string",
                      "quantity": "string",
                      "cost": "string",
                      "inventoryLocation": {
                        "id": 0,
                        "name": "string",
                        "type": "string"
                      },
                      "vendorPartNumber": "string",
                      "serialNumber": "string",
                      "generalLedgerAccount": {
                        "id": 0,
                        "name": "string",
                        "number": "string",
                        "type": "string",
                        "detailType": "string"
                      },
                      "costOfSaleAccount": {
                        "id": 0,
                        "name": "string",
                        "number": "string",
                        "type": "string",
                        "detailType": "string"
                      },
                      "assetAccount": {
                        "id": 0,
                        "name": "string",
                        "number": "string",
                        "type": "string",
                        "detailType": "string"
                      },
                      "id": 0,
                      "skuId": 0,
                      "receiptItemId": 0,
                      "skuType": "string",
                      "skuCode": "string",
                      "budgetCodeId": 0
                    }
                  ],
                  "expenseItems": [
                    {
                      "id": 0,
                      "amount": "string",
                      "description": "string",
                      "generalLedgerAccount": {
                        "id": 0,
                        "name": "string",
                        "number": "string",
                        "type": "string",
                        "detailType": "string"
                      },
                      "job": {
                        "id": 0,
                        "name": "string"
                      },
                      "businessUnit": {
                        "id": 0,
                        "name": "string"
                      },
                      "budgetCodeId": 0,
                      "projectLabelIds": [
                        0
                      ]
                    }
                  ],
                  "customFields": [
                    {
                      "name": "string",
                      "value": "string"
                    }
                  ],
                  "jobId": 0,
                  "jobNumber": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          },
          "404": {
            "description": "AP bill with the specified ID was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.apbills:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/ap-bills/custom-fields": {
      "get": {
        "tags": [
          "ApBills"
        ],
        "summary": "Returns a paginated list of filtered custom field types available for AP bills",
        "description": "Returns a paginated list of filtered custom field types available for AP bills",
        "operationId": "ApBills_GetCustomFieldTypes",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the custom field types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.CustomFieldTypeResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "name": "string",
                      "dataType": "Text",
                      "dataTypeOptions": [
                        "string"
                      ],
                      "createdOn": "string",
                      "modifiedOn": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.apbills:r"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "ApBills"
        ],
        "summary": "Updates custom field values on multiple AP bills",
        "description": "Updates custom field values on multiple AP bills",
        "operationId": "ApBills_UpdateCustomFields",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The custom field update request containing bill IDs and field values to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Accounting.V2.CustomFieldUpdateRequest"
              },
              "example": {
                "operations": [
                  {
                    "objectId": 0,
                    "customFields": [
                      {
                        "name": "string",
                        "value": "string"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated custom fields on the specified AP bills"
          },
          "400": {
            "description": "Invalid request data or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.apbills:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/ap-bills/markasexported": {
      "post": {
        "tags": [
          "ApBills"
        ],
        "summary": "Marks multiple AP bills as exported, updating their sync status to indicate they have been exported to external systems",
        "description": "Marks multiple AP bills as exported, updating their sync status to indicate they have been exported to external systems",
        "operationId": "ApBills_MarkAsExported",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The request containing AP bill IDs to mark as exported",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Accounting.V2.MarkApBillAsExportedUpdateRequest"
              },
              "example": {
                "billIds": [
                  0
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the mark as exported request for all bills",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Accounting.V2.MarkApBillAsExportedUpdateResponse"
                  }
                },
                "example": [
                  {
                    "billId": 0,
                    "success": true,
                    "errorMessage": "string"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request data or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.apbills:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/ap-credits": {
      "get": {
        "tags": [
          "ApCredits"
        ],
        "summary": "Gets a paginated list of ap credits",
        "description": "Gets a paginated list of ap credits",
        "operationId": "ApCredits_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Perform lookup by multiple IDs (maximum 50)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Applies sorting by specified fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customField.Fields",
            "in": "query",
            "description": "Dictionary of name-value pairs",
            "schema": {
              "maxProperties": 50,
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "customField.Operator",
            "in": "query",
            "description": "Operator to be used between the name-value pairs. Can be \"Or\" or \"And\", default is \"And\".\\\nValues: [And, Or]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Accounting.V2.LogicalOperator"
                }
              ]
            }
          },
          {
            "name": "syncStatuses",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Accounting.V2.InventoryBillSyncStatus"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.ApCreditResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "inventoryReturnId": 0,
                      "jobId": 0,
                      "active": true,
                      "createdOn": "string",
                      "modifiedOn": "string",
                      "date": "string",
                      "canceledOn": "string",
                      "number": "string",
                      "referenceNumber": "string",
                      "memo": "string",
                      "amount": 0,
                      "appliedAmount": 0,
                      "status": "Unreconciled",
                      "syncStatus": "Pending",
                      "batch": {
                        "id": 0,
                        "number": "string",
                        "name": "string"
                      },
                      "businessUnit": {
                        "id": 0,
                        "name": "string"
                      },
                      "remittanceVendor": {
                        "id": 0,
                        "name": "string"
                      },
                      "vendor": {
                        "id": 0,
                        "name": "string"
                      },
                      "paymentStatus": "Unpaid",
                      "splits": [
                        {
                          "id": 0,
                          "active": true,
                          "createdOn": "string",
                          "inventoryBillId": 0,
                          "vendorCreditId": 0,
                          "amount": 0
                        }
                      ],
                      "budgetCodeId": 0,
                      "customFields": [
                        {
                          "name": "string",
                          "value": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.apcredits:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/ap-credits/custom-fields": {
      "get": {
        "tags": [
          "ApCredits"
        ],
        "summary": "Returns a paginated list of filtered custom field types available for AP credits",
        "description": "Returns a paginated list of filtered custom field types available for AP credits",
        "operationId": "ApCredits_GetCustomFieldTypes",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the custom field types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.CustomFieldTypeResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "name": "string",
                      "dataType": "Text",
                      "dataTypeOptions": [
                        "string"
                      ],
                      "createdOn": "string",
                      "modifiedOn": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.apcredits:r"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "ApCredits"
        ],
        "summary": "Updates custom field values on multiple AP credits",
        "description": "Updates custom field values on multiple AP credits",
        "operationId": "ApCredits_UpdateCustomFields",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The custom field update request containing credit IDs and field values to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Accounting.V2.CustomFieldUpdateRequest"
              },
              "example": {
                "operations": [
                  {
                    "objectId": 0,
                    "customFields": [
                      {
                        "name": "string",
                        "value": "string"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated custom fields on the specified AP credits"
          },
          "400": {
            "description": "Invalid request data or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.apcredits:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/ap-credits/markasexported": {
      "post": {
        "tags": [
          "ApCredits"
        ],
        "summary": "Marks ap-credits as exported.",
        "description": "Marks ap-credits as exported.",
        "operationId": "ApCredits_MarkAsExported",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Accounting.V2.MarkApCreditAsExportedUpdateRequest"
                }
              },
              "example": [
                {
                  "apCreditId": 0
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Accounting.V2.MarkApCreditAsExportedUpdateResponse"
                  }
                },
                "example": [
                  {
                    "apCreditId": 0,
                    "success": true,
                    "errorMessage": "string"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.apcredits:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/ap-payments": {
      "get": {
        "tags": [
          "ApPayments"
        ],
        "summary": "ApPayments_GetList",
        "operationId": "ApPayments_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Perform lookup by multiple IDs (maximum 50)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Applies sorting by specified fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customField.Fields",
            "in": "query",
            "description": "Dictionary of name-value pairs",
            "schema": {
              "maxProperties": 50,
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "customField.Operator",
            "in": "query",
            "description": "Operator to be used between the name-value pairs. Can be \"Or\" or \"And\", default is \"And\".\\\nValues: [And, Or]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Accounting.V2.LogicalOperator"
                }
              ]
            }
          },
          {
            "name": "syncStatuses",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Accounting.V2.InventoryBillSyncStatus"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.ApPaymentResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "active": true,
                      "createdOn": "string",
                      "modifiedOn": "string",
                      "date": "string",
                      "approvedDate": "string",
                      "method": "AccountingSystem",
                      "name": "string",
                      "printCheck": true,
                      "amount": 0,
                      "errorMessage": "string",
                      "status": "Unpaid",
                      "syncStatus": "Pending",
                      "batch": {
                        "id": 0,
                        "number": "string",
                        "name": "string"
                      },
                      "glAccount": {
                        "id": 0,
                        "name": "string",
                        "number": "string",
                        "type": "string",
                        "detailType": "string"
                      },
                      "businessUnit": {
                        "id": 0,
                        "name": "string"
                      },
                      "vendor": {
                        "id": 0,
                        "name": "string"
                      },
                      "remittanceVendor": {
                        "id": 0,
                        "name": "string"
                      },
                      "splits": [
                        {
                          "id": 0,
                          "active": true,
                          "createdOn": "string",
                          "documentId": 0,
                          "inventoryBillId": 0,
                          "amount": 0
                        }
                      ],
                      "customFields": [
                        {
                          "name": "string",
                          "value": "string"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.appayments:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/ap-payments/custom-fields": {
      "get": {
        "tags": [
          "ApPayments"
        ],
        "summary": "Returns a paginated list of filtered custom field types available for AP payments",
        "description": "Returns a paginated list of filtered custom field types available for AP payments",
        "operationId": "ApPayments_GetCustomFieldTypes",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the custom field types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.CustomFieldTypeResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "name": "string",
                      "dataType": "Text",
                      "dataTypeOptions": [
                        "string"
                      ],
                      "createdOn": "string",
                      "modifiedOn": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.appayments:r"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "ApPayments"
        ],
        "summary": "Updates custom field values on multiple AP payments",
        "description": "Updates custom field values on multiple AP payments",
        "operationId": "ApPayments_UpdateCustomFields",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The custom field update request containing payment IDs and field values to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Accounting.V2.CustomFieldUpdateRequest"
              },
              "example": {
                "operations": [
                  {
                    "objectId": 0,
                    "customFields": [
                      {
                        "name": "string",
                        "value": "string"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated custom fields on the specified AP payments"
          },
          "400": {
            "description": "Invalid request data or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.appayments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/ap-payments/markasexported": {
      "post": {
        "tags": [
          "ApPayments"
        ],
        "summary": "Marks ap-payments as exported.",
        "description": "Marks ap-payments as exported.",
        "operationId": "ApPayments_MarkAsExported",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Accounting.V2.MarkApPaymentAsExportedUpdateRequest"
                }
              },
              "example": [
                {
                  "apPaymentId": 0,
                  "externalId": "string",
                  "externalMessage": "string"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Accounting.V2.MarkApPaymentAsExportedUpdateResponse"
                  }
                },
                "example": [
                  {
                    "apPaymentId": 0,
                    "success": true,
                    "errorMessage": "string"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.appayments:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/credit-memos": {
      "get": {
        "tags": [
          "CreditMemos"
        ],
        "summary": "CreditMemos_GetCreditMemosList",
        "operationId": "CreditMemos_GetCreditMemosList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Values: [True, Any, False]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ActiveRequestArg"
                }
              ]
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnitIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appliedToInvoiceIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appliedToReferenceNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateOnOrAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "appliedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "appliedOnOrAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "batchId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "batchNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customField.Fields",
            "in": "query",
            "description": "Dictionary of name-value pairs",
            "schema": {
              "maxProperties": 50,
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "customField.Operator",
            "in": "query",
            "description": "Operator to be used between the name-value pairs. Can be \"Or\" or \"And\", default is \"And\".\\\nValues: [And, Or]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Accounting.V2.LogicalOperator"
                }
              ]
            }
          },
          {
            "name": "totalFilter.Amount",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "decimal"
            }
          },
          {
            "name": "totalFilter.Comparer",
            "in": "query",
            "description": "Values: [Equal, NotEqual, GreaterThan, GreaterThanOrEqual, LessThan, LessThanOrEqual]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Accounting.V2.Shared.AmountComparisonOperator"
                }
              ]
            }
          },
          {
            "name": "balanceFilter.Amount",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "decimal"
            }
          },
          {
            "name": "balanceFilter.Comparer",
            "in": "query",
            "description": "Values: [Equal, NotEqual, GreaterThan, GreaterThanOrEqual, LessThan, LessThanOrEqual]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Accounting.V2.Shared.AmountComparisonOperator"
                }
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.CreditMemos.CreditMemoPublicResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "date": "string",
                      "referenceNumber": "string",
                      "subTotal": 0,
                      "salesTax": 0,
                      "salesTaxCode": {
                        "id": 0,
                        "name": "string",
                        "taxRate": 0
                      },
                      "total": 0,
                      "balance": 0,
                      "appliedTo": [
                        {
                          "appliedId": 0,
                          "appliedTo": 0,
                          "appliedAmount": 0,
                          "appliedOn": "string",
                          "appliedBy": "string",
                          "appliedToReferenceNumber": "string"
                        }
                      ],
                      "customer": {
                        "id": 0,
                        "name": "string"
                      },
                      "customerAddress": {
                        "street": "string",
                        "unit": "string",
                        "city": "string",
                        "state": "string",
                        "zip": "string",
                        "country": "string"
                      },
                      "location": {
                        "id": 0,
                        "name": "string"
                      },
                      "locationAddress": {
                        "street": "string",
                        "unit": "string",
                        "city": "string",
                        "state": "string",
                        "zip": "string",
                        "country": "string"
                      },
                      "businessUnit": {
                        "id": 0,
                        "name": "string"
                      },
                      "syncStatus": "string",
                      "batch": {
                        "id": 0,
                        "number": "string",
                        "name": "string"
                      },
                      "customFields": [
                        {
                          "name": "string",
                          "value": "string"
                        }
                      ],
                      "createdOn": "string",
                      "createdBy": "string",
                      "modifiedOn": "string",
                      "modifiedBy": "string",
                      "description": "string",
                      "active": true,
                      "importId": "string",
                      "exportId": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.creditmemos:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/credit-memos/{id}/items": {
      "get": {
        "tags": [
          "CreditMemos"
        ],
        "summary": "CreditMemos_GetCreditMemoItemsList",
        "operationId": "CreditMemos_GetCreditMemoItemsList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Values: [True, Any, False]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ActiveRequestArg"
                }
              ]
            }
          },
          {
            "name": "businessUnitIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.CreditMemos.CreditMemoItemsPublicResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "active": true,
                      "description": "string",
                      "quantity": 0,
                      "cost": 0,
                      "price": 0,
                      "type": "string",
                      "skuName": "string",
                      "skuId": 0,
                      "total": 0,
                      "taxable": true,
                      "revenueGeneralLedgerAccount": {
                        "id": 0,
                        "name": "string",
                        "number": "string",
                        "type": "string"
                      },
                      "expensesGeneralLedgerAccount": {
                        "id": 0,
                        "name": "string",
                        "number": "string",
                        "type": "string"
                      },
                      "createdOn": "string",
                      "createdBy": "string",
                      "businessUnit": {
                        "id": 0,
                        "name": "string"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.creditmemos:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/credit-memos/credit-memo-items": {
      "get": {
        "tags": [
          "CreditMemos"
        ],
        "summary": "CreditMemos_GetCreditMemosItemsList",
        "operationId": "CreditMemos_GetCreditMemosItemsList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "creditMemoIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Values: [True, Any, False]",
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ActiveRequestArg"
                }
              ]
            }
          },
          {
            "name": "businessUnitIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.CreditMemos.CreditMemosItemsPublicResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "active": true,
                      "description": "string",
                      "quantity": 0,
                      "cost": 0,
                      "price": 0,
                      "type": "string",
                      "skuName": "string",
                      "skuId": 0,
                      "total": 0,
                      "taxable": true,
                      "revenueGeneralLedgerAccount": {
                        "id": 0,
                        "name": "string",
                        "number": "string",
                        "type": "string"
                      },
                      "expensesGeneralLedgerAccount": {
                        "id": 0,
                        "name": "string",
                        "number": "string",
                        "type": "string"
                      },
                      "createdOn": "string",
                      "createdBy": "string",
                      "businessUnit": {
                        "id": 0,
                        "name": "string"
                      },
                      "creditMemoId": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.creditmemos:r"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/credit-memos/custom-fields": {
      "get": {
        "tags": [
          "CreditMemos"
        ],
        "summary": "Returns a paginated list of filtered custom field types available for credit memos",
        "description": "Returns a paginated list of filtered custom field types available for credit memos",
        "operationId": "CreditMemos_GetCustomFieldTypes",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The logical number of page to return, starting from 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many records to return (50 by default)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeTotal",
            "in": "query",
            "description": "Whether total count should be returned",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Return items created before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdOnOrAfter",
            "in": "query",
            "description": "Return items created on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
            "description": "Return items modified on or after certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Of_Accounting.V2.CustomFieldTypeResponse"
                },
                "example": {
                  "page": 0,
                  "pageSize": 0,
                  "hasMore": true,
                  "totalCount": 0,
                  "data": [
                    {
                      "id": 0,
                      "name": "string",
                      "dataType": "Text",
                      "dataTypeOptions": [
                        "string"
                      ],
                      "createdOn": "string",
                      "modifiedOn": "string"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.creditmemos:r"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "CreditMemos"
        ],
        "summary": "Update custom fields for specified credit memos",
        "description": "Update custom fields for specified credit memos",
        "operationId": "CreditMemos_UpdateCustomFields",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Accounting.V2.CustomFieldUpdateRequest"
              },
              "example": {
                "operations": [
                  {
                    "objectId": 0,
                    "customFields": [
                      {
                        "name": "string",
                        "value": "string"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded"
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.creditmemos:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/credit-memos/{id}": {
      "patch": {
        "tags": [
          "CreditMemos"
        ],
        "summary": "CreditMemos_UpdateCreditMemo",
        "operationId": "CreditMemos_UpdateCreditMemo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Accounting.V2.CreditMemos.CreditMemoUpdatePublicRequest"
              },
              "example": {
                "active": true,
                "summary": "string",
                "date": "string",
                "businessUnitId": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Accounting.V2.CreditMemos.CreditMemoUpdatePublicResponse"
                },
                "example": {
                  "id": 0,
                  "active": true,
                  "summary": "string",
                  "date": "string",
                  "businessUnitId": 0
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.creditmemos:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/credit-memos/{id}/splits": {
      "post": {
        "tags": [
          "CreditMemos"
        ],
        "summary": "CreditMemos_AddCreditMemoSplits",
        "operationId": "CreditMemos_AddCreditMemoSplits",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Accounting.V2.CreditMemos.CreditMemoAddSplitsPublicRequest"
              },
              "example": {
                "splits": [
                  {
                    "invoiceId": 0,
                    "amount": 0
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Accounting.V2.CreditMemos.CreditMemoAddSplitsPublicResponse"
                },
                "example": {
                  "id": 0,
                  "splits": [
                    {
                      "invoiceId": 0,
                      "amount": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.creditmemos:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/credit-memos/markasexported": {
      "post": {
        "tags": [
          "CreditMemos"
        ],
        "summary": "mark credit memo as exported. Id = creditMemoId",
        "description": "mark credit memo as exported. Id = creditMemoId",
        "operationId": "CreditMemos_MarkAsExported",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Accounting.V2.CreditMemos.MarkCreditMemoAsExportedRequest"
                }
              },
              "example": [
                {
                  "creditMemoId": 0,
                  "externalId": "string",
                  "externalMessage": "string"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Accounting.V2.CreditMemos.MarkCreditMemoAsExportedResponse"
                  }
                },
                "example": [
                  {
                    "creditMemoId": 0,
                    "success": true,
                    "errorMessage": "string"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "The request cannot be processed, check validation errors or request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "traceId": "string",
                  "errors": {},
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": [],
            "oauth": [
              "tn.acc.creditmemos:w"
            ]
          }
        ]
      }
    },
    "/tenant/{tenant}/bank-deposits": {
      "get": {
        "tags": [
          "Deposits"
        ],
        "summary": "Gets a paginated list of deposits",
        "description": "Gets a paginated list of deposits",
        "operationId": "Deposits_GetList",
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "description": "Tenant ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Perform lookup by multiple IDs (maximum 50)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "description": "Return items modified before certain date/time (in UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedOnOrAfter",
            "in": "query",
[...]
